{
	"endOfLine": "lf",
	"printWidth": 100,
	"quoteProps": "preserve",
	"semi": false,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "none",
	"useTabs": true,
	"plugins": [
		"prettier-plugin-jsdoc",
		"prettier-plugin-tailwindcss"
	],
	"jsdocDescriptionWithDot": true,
	"jsdocCommentLineStrategy": "multiline",
	"jsdocPrintWidth": 90
}
