@reference 'tailwindcss';

@utility font-sans {
	font-family: 'Segoe UI Variable Display', Arial, sans-serif;
}
@utility font-heading {
	font-family: 'Palatino Linotype', 'Palatino', serif;
}

@utility color-scheme-dark {
	color-scheme: dark;
}

@utility rendering-contrast {
	image-rendering: -webkit-optimize-contrast;
}

@utility drag-none {
	-webkit-user-drag: none;
}

@utility scrollbar-* {
	scrollbar-width: --value('auto', 'thin', 'none');
}

@utility scrollbar-gutter-* {
	scrollbar-gutter: --value('auto', 'stable');
}

@utility scrollbar-overlay {
	&::-webkit-scrollbar {
		appearance: none;
		width: 12px;
		height: 12px;
		@apply bg-transparent;
	}
	&:hover {
		&::-webkit-scrollbar-thumb {
			display: unset;
		}
	}

	&::-webkit-scrollbar-thumb {
		display: none;
		@apply bg-zinc-700;

		&:hover {
			@apply bg-zinc-500;
		}
	}
}

@layer base {
	kbd {
		@apply inline-flex min-w-6 items-center justify-center rounded border-b-2 border-zinc-500 bg-zinc-700 px-1.5 font-sans text-sm leading-snug text-zinc-200;
	}
}
