.taxon4 {
	@tailwind base;
}
@tailwind components;
@tailwind utilities;

@import '../common.scss';

.is-wikipediaWiki {
	a:focus {
		outline: none;
	}
}

.is-flickrSearch {
	.photo-list-getty-item-view {
		:has(a[href*='istockphoto.com']) {
			display: none;
		}
	}
}
