:where(.taxon4) {
	@import 'tailwindcss/preflight';
}
@import 'tailwindcss/utilities';

@import '../common.css';

@utility font-sans {
	font-family:
		/* 'Georgia', 'Cambria', serif, 'Archivo', 'Noto Serif', 'Droid Sans', 'Segoe UI',
		'IBM Plex Sans',  */
		'Segoe UI Variable Display', Arial, sans-serif !important;
}

.tx4-opened-link {
	@apply underline;
	@apply text-violet-600!;
}

.tx4-wikipedia {
	--background-color-base: #1c1c1c !important;
	--background-color-neutral-subtle: #1c1c1c;
	--background-color-interactive-subtle: #1c1c1c;
	--color-base: #fff;
	--color-progressive: #60a5fa;
	--border-color-muted: #4c4c4c;

	body {
		@apply font-sans;
		background-color: var(--background-color-base);
	}

	a:focus {
		outline: none;
	}

	.vector-sitenotice-container,
	.ambox {
		display: none !important;
	}

	.mw-first-heading,
	.mw-first-heading > i {
		@apply font-heading;
		font-weight: 700;
		font-style: normal;
		letter-spacing: -0.5px;
	}

	.infobox.biota th {
		background-color: #2c2c2c !important;
	}
}

.tx4-wikispecies {
	#siteNotice {
		display: none !important;
	}
}

.tx4-flickr {
	body {
		@apply font-sans;
	}

	.photo-list-getty-item-view {
		:has(a[href*='istockphoto.com']) {
			display: none !important;
		}
	}

	.head-banner-style,
	.foot-banner-style,
	.search-subnav-slender-view,
	.photo-list-revenue-item-view,
	.global-nav-shim,
	.global-nav-content,
	.sidebar-column,
	.nav-ad-container,
	.global-nav-view,
	.search-tools-view,
	.moola-search-view,
	.comment-field,
	.facade-of-protection-zoom {
		display: none !important;
	}

	.zoom-photo-container img,
	.main-photo {
		pointer-events: auto !important;
	}

	.search-slender-advanced-panel-view {
		top: 0 !important;
	}

	.photo-list-view {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
		grid-auto-rows: min-content;
		justify-content: center;
		gap: 8px;
	}

	.photo-list-tile-view {
		position: relative !important;
		width: 240px !important;
		height: 240px !important;
		border: 0;
		background: transparent;
		transform: none !important;

		.photo {
			height: 75%;
			border-radius: 4px;
		}

		.title {
			@apply line-clamp-2;
			white-space: unset !important;
		}

		.bottom-icons {
			justify-content: flex-end !important;
		}

		.more-menu,
		.attribution,
		.license {
			display: none;
		}
	}
}

.tx4-inaturalist {
	body {
		@apply text-zinc-100;
	}

	#header,
	#hero,
	#charts .tab-content,
	#charts .chart-controls,
	#charts .nav-tabs li a,
	.form-control,
	.TaxonPageTabs .tab-content,
	.TaxonomicBranch .taxonomy li.tabular.has-children li.current.has-children .row-content > *,
	.tab-section > [class*='col-'],
	.bootstrap .btn-default,
	.bootstrap .dropdown-menu,
	.bootstrap .list-group-item,
	.bootstrap .table > tbody > tr > td,
	.bootstrap .table > thead > tr > th,
	.divider {
		@apply border-zinc-600;
	}

	body,
	#hero,
	#header,
	#charts .tab-content,
	button.left-nav-item {
		@apply bg-zinc-900;
	}

	#footer,
	#charts .chart-controls,
	#charts .nav-tabs li:not(.active) a,
	.form-control,
	.form-control:focus,
	.bootstrap .btn-default,
	.bootstrap .dropdown-menu,
	.bootstrap .list-group-item,
	.bootstrap .table-striped > tbody > tr:nth-of-type(odd) {
		@apply bg-zinc-800 text-zinc-100;
	}

	#inatnotice,
	.bootstrap .dropdown-menu > li:hover a {
		@apply bg-zinc-700;
	}

	.TaxonCrumbs .taxon a,
	.bootstrap a,
	.bootstrap .linky {
		@apply text-blue-300 hover:underline;
	}

	#header a,
	#footer p a,
	#TaxonHeader .taxon .display-name,
	.LeaderItem .name a,
	.TaxonomicBranch .taxonomy .taxon a,
	.TaxonPageTabs .nav-tabs > li.active > a,
	.bootstrap,
	.bootstrap .dropdown-menu > li > a {
		@apply text-zinc-100;
	}

	#header .count,
	#charts .item-label,
	.taxon.has-com-name .secondary-name,
	.taxon.has-com-name .secondary-names,
	.LeaderItem .item-label,
	.TaxonPageTabs .nav-tabs > li > a,
	label.required {
		@apply text-zinc-400;
	}

	.bootstrap .text-success {
		@apply text-lime-500;
	}
}

.tx4-inaturalistTaxon {
	.bootstrap {
		@apply font-sans;
		font-size: 14px;
	}

	.TaxonomyTab .row:nth-child(2) .col-xs-8 {
		position: fixed;
		top: 132px;
		left: 0;
		width: 360px;
		height: calc(100% - 132px);
		overflow: auto;
		z-index: 10;

		> h3 {
			display: none;
		}

		& th {
			border-bottom-width: 1px;
		}
	}
}

.tx4-repfocus {
	::selection {
		@apply bg-orange-300 text-black;
	}

	span,
	font {
		@apply font-sans text-[14px] leading-4 text-zinc-100;
	}

	body > center > table > tbody > tr > td > table {
		@apply bg-zinc-800;
		& + center + font > center > table td {
			@apply bg-zinc-800;
		}
	}

	a,
	a i,
	a font {
		@apply text-blue-300;
	}

	body,
	body > center > table {
		@apply bg-zinc-800;
	}

	.genus {
		> td:nth-child(2) {
			> table {
				> tbody > tr:has(font > br + img:not([src='DIV/UK_12v.gif'])) {
					display: none;
				}
				+ img + br + table {
					display: none;
					+ font {
						@apply block border-t border-zinc-600 pt-2 pl-28;
						> b {
							@apply -ml-28 inline-block w-[calc(7rem-4px)];
						}
					}
				}
			}
		}
	}

	.species > td > table {
		padding-right: 160px;
		float: left;
		+ img + br {
			display: none;
		}
		~ table {
			float: right;
			border-collapse: collapse;
		}
	}

	.comname {
		@apply hover:underline;
	}
	.common {
		@apply pl-6;
		+ .common > .comname {
			@apply text-zinc-500;
		}
	}

	.binomial {
		margin-bottom: 4px;
	}

	img[src^='IUCN/'] {
		border-radius: 16px;
	}

	table[cellpadding='10'] {
		@apply bg-zinc-800;

		> tbody > tr + tr {
			@apply even:bg-zinc-700/40;

			> td {
				@apply border-t border-zinc-600 pt-2 pb-0;
			}
			> td:nth-child(1) {
				> * {
					display: none;
				}
			}
			> td:nth-child(2) {
				> font:nth-of-type(1) {
					> i {
						@apply text-orange-300;
						min-width: 160px;
						display: inline-flex;
						justify-content: space-between;
						gap: 8px;
						font-size: 16px;
						> img {
							height: 16px;
							&:first-child {
								display: none;
							}
						}
					}
				}
				> table:nth-of-type(1) {
					tr:has(font > br + img:not([src='DIV/UK_12v.gif'])) {
						display: none;
					}
					td:nth-child(2) {
						> font {
							font-size: 15px;
						}
					}
					td:has(img[src='DIV/UK_12v.gif']) {
						display: none;
					}
				}
				> table:nth-of-type(2) {
					font-size: 11px;
					tbody {
						display: flex;
						gap: 4px;
						font {
							@apply text-xs text-zinc-500;
						}
						> tr:first-child font {
							margin-left: 22px;
						}
					}
					td + td {
						display: none;
					}
				}
				> br + font {
					display: none;
				}
			}
			> td:nth-child(3) {
				> a:has(> img) ~ * {
					display: none;
				}
			}
		}
	}
}

.tx4-fishbase {
	* {
		@apply font-sans;
	}
}

.tx4-herpmapper {
	body {
		@apply font-sans text-[15px];
	}
}

.tx4-herplist {
	::selection {
		@apply bg-blue-500;
	}

	body {
		@apply cursor-default bg-zinc-800 text-white;
	}

	h4 {
		@apply text-emerald-300;
	}

	h5 {
		@apply text-orange-200;
	}

	.dotted-row {
		@apply flex rounded-lg;

		&:nth-child(even) {
			@apply bg-zinc-700/20;
		}

		&:hover {
			@apply bg-zinc-700;
		}

		&::before {
			display: none;
		}
	}

	.dotted-left {
		@apply flex flex-1 items-center gap-4 bg-[unset] text-[12px] text-zinc-500;
	}

	.dotted-right {
		@apply flex-1 bg-[unset] px-6 py-1 text-right;
	}

	.new {
		@apply text-rose-300;
	}

	.sciname {
		@apply flex-1 py-1 pl-4 text-[14px] text-nowrap text-white;
	}

	.subspecies {
		@apply pl-[2em];

		> .sciname {
			@apply ml-10 border-l border-zinc-500 pl-6 text-indigo-300;
		}
	}
}
