@import 'tailwindcss';

@import '../common.css';

@layer theme {
}

@layer base {
	:is(input, textarea):focus-visible {
		@apply outline-none;
	}
}

/* Loại bỏ style nội dung tóm tắt của Wikipedia lấy từ API. */
.citation-needed-content {
	border: unset !important;
}

.emoji {
	@apply rendering-contrast mx-0.5;
	width: 1.25rem;
	height: 1.25rem;
	display: inline-block;
	vertical-align: text-bottom;
}
